.boost-right {
    flex-direction: column;
}

.left-boost {
    width: 90% !important;
}

.our {
    border-right: 1px solid #fc7318;
    border-left: none !important;
    padding-right: 25px;
    padding-left: 0 !important;
}

.right-to {
    margin-left: 0 !important;

}

.small {
    font-size: 20px !important;
    text-align: center !important;
}

.paie .tech-h, .paie .tech-para {
    text-align: center;
}

@media (max-width:1300px) {
    .right-to {
        margin-right: 30px !important;

    }
}

@media (min-width:1080px) {

    .bosst-main .left-inner p,
    .bosst-main .left-inner h3 {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width:1080px) {
    .our {
        border-left: 1px solid #fc7318 !important;
        border-right: none !important;
        padding-left: 25px !important;
        padding-right: 0 !important;
    }

    .right-to {
        margin-top: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 30px;
    }

    .paie {
        width: 97%;
        margin: 0 auto;

    }

    .mn {
        margin-top: 30px !important;
    }
}