.boost-right {
    flex-direction: column;
}

.left-boost {
    width: 90% !important;
}

.our {
    border-right: 1px solid #fc7318;
    border-left: none !important;
    padding-right: 25px;
    padding-left: 0 !important;
}

.right-to {
    margin-left: 0 !important;

}

.small {
    font-size: 20px !important;
    text-align: center !important;
}

.paie .tech-h, .paie .tech-para {
    text-align: center;
}

.mbl {
    display: none;
}

.bosst-main {
    align-items: center;
}

@media (max-width:1300px) {
    .right-to {
        margin-right: 30px !important;

    }
}

@media (min-width:1080px) {

    .bosst-main .left-inner p,
    .bosst-main .left-inner h3 {
        width: 90%;
        margin: 0 auto;
    }

    .left-boost {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 140px;
    }
}

@media (max-width:1080px) {
    .paie .tech-h, .small, .paie .tech-para {
        text-align: left !important;
    }

    .desk {
        display: none;
    }

    .mbl {
        display: block;
    }

    .our {
        border-left: 1px solid #fc7318 !important;
        border-right: none !important;
        padding-left: 15px !important;
        padding-right: 0 !important;
    }

    .right-to {
        margin-top: 15px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 0px;
    }

    .paie {
        width: 97%;
        margin: 0 auto;

    }

    .mn {
        margin-top: 0px !important;
    }
}